<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="common-js" style="display:none;">
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script th:src="@{/js/bootstrapValidator.js}"></script>
    <script th:src="@{/js/locales/bootstrapValidator.zh_CN.js}"></script>
    <script th:src="@{/js/jqpaginator.min.js}"></script>
</div>
</html>
