<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">


<nav th:fragment="nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bill-navbar-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">小账本</a>
        </div>
        <div class="collapse navbar-collapse" id="bill-navbar-collapse">
            <ul class="nav navbar-nav">
                <li role="presentation" th:class="${#httpServletRequest.getRequestURI() == '/index'} ? 'active'">
                    <a th:href="@{/}">首页</a>
                </li>
                <li role="presentation"
                    th:class="${#httpServletRequest.getRequestURI().startsWith('/bill')} ? 'active'">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        账单<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li th:class="${#httpServletRequest.getRequestURI() == '/bill'} ? 'active'">
                            <a th:href="@{/bill}">查看</a>
                        </li>
                        <li th:class="${#httpServletRequest.getRequestURI() == '/bill/chart'} ? 'active'">
                            <a th:href="@{/bill/chart}">统计</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation"
                    th:class="${#httpServletRequest.getRequestURI().startsWith('/costType')} ? 'active'">
                    <a th:href="@{/costType}">消费类型</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">用户<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人设置</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <div class="col-xs-offset-1 col-xs-10">
                                <form th:action="@{/logout}" method="post">
                                    <button class="btn btn-info" type="submit">退出</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>