<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<div class="container">
    <div style="height: 60px;"></div>
    <h1>新增记录</h1>
    <form id="new-bill-form" class="form-horizontal"
          th:action="@{/bill/add}"
          method="post"
          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <input type="hidden" name="id" th:value="${bill != null ? bill.id : ''}"/>
        <div class="form-group">
            <label class="col-sm-2 control-label">收支</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="type" id="type-out"
                           th:value="${T(loveinliuy.bill.model.Bill.Type).Expense.name()}"
                           th:checked="${bill == null or (bill != null and bill.type.name() == 'Expense')}"/>支出
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="type-in"
                           th:checked="${bill != null and bill.type.name() == 'Income'}"
                           th:value="${T(loveinliuy.bill.model.Bill.Type).Income.name()}"/>收入
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="costTypeSel">类型</label>
            <div class="col-sm-10">
                <select id="costTypeSel" class="form-control" onchange="setCostType()">
                    <option type="all" th:selected="${bill == null}" value=""></option>
                    <option th:each="type,stat : ${costTypes}"
                            th:text="${type.name}"
                            th:value="${type.id}"
                            th:attr="type=${type.type.name()}"
                            th:selected="${bill != null and bill.costTypeId == type.id}"
                            th:class="${type.type.name() == (bill != null ? bill.type.name() : 'Expense') ? 'show' : 'hidden'}">
                        类型1
                    </option>
                </select>
                <input type="hidden" name="costType" value=""/>
                <input type="hidden" name="costTypeId" value=""/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="date">日期</label>
            <div class="col-sm-10">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <input type="text" class="form-control" id="date" name="date" value="2015-01-01" placeholder="啥时候"
                           th:value="${#dates.format((bill == null ? #dates.createNow() : bill.date), 'yyyy-MM-dd')}"
                           data-bv-notempty="true"
                           data-bv-notempty-message="还没选啥时候花的呢"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="description">描述</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description" id="description" placeholder="哪儿花的"
                       th:value="${bill == null ? '' : bill.description}"
                       data-bv-notempty="true"
                       data-bv-notempty-message="这钱到底花哪儿了啊"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="cost">金额</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="cost" id="cost" placeholder="花多钱"
                       th:value="${bill == null ? '' : #numbers.formatDecimal(bill.cost, 1, 'COMMA', 2, 'POINT')}"
                       data-bv-notempty="true"
                       data-bv-notempty-message="花了多钱啊"
                       data-bv-regexp="true"
                       data-bv-regexp-regexp="^(([1-9]\d{0,9})|0)(\.\d{1,2})?$"
                       data-bv-regexp-message="填正确的金额"
                       data-bv-greaterthan="true"
                       data-bv-greaterthan-inclusive="false"
                       data-bv-greaterthan-value="0.00"
                       data-bv-greaterthan-message="你填这钱没大于0啊"/>
            </div>
        </div>
        <div class="form-group">
            <div class="row col-sm-offset-2 col-sm-10">
                <div class="col-sm-4 pull-right">
                    <button type="submit" class="btn btn-default">提交</button>
                    <a role="button" th:href="@{/bill}" class="btn btn-default">取消</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: common-js"></div>
<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    function setCostType() {
        var $costTypeSelect = $("#costTypeSel");
        $('input[name=costType]').val($costTypeSelect.find('option:selected').text());
        $('input[name=costTypeId]').val($costTypeSelect.val());
    }

    $(function () {
        // 设置代码类型值
        setCostType();
        // 设置表单验证
        $('#new-bill-form').bootstrapValidator({
            fields: {
                description: {
                    validators: {
                        remote: {
                            url: /*[[@{/bill/description/validate}]]*/ '/bill/description/validate',
                            data: function (validator, $field, value) {
                                return {
                                    date: validator.getFieldElements('date').val(),
                                    description: value,
                                    id: /*[[${bill != null ? bill.id : ''}]]*/ '123'
                                };
                            },
                            type: "GET",
                            delay: 1000,
                            message: '今天已经写过一个了'
                        }
                    }
                }
            }
        });
        // 设置切换项目控制
        $('input[type=radio][name=type]').click(function () {
            var $this = $(this);
            if ($this.val() === 'Income') {
                $('input[name=description]').attr('placeholder', '哪儿来的');
                $('input[name=cost]').attr('placeholder', '来多钱');
                $('#costTypeSel').val('').find("option").each(function () {
                    var $this = $(this);
                    var type = $this.attr('type');
                    if (type === 'Income') {
                        $this.removeClass("hidden").addClass("show");
                    } else if (type === 'Expense') {
                        $this.removeClass("show").addClass("hidden");
                    }
                });
            } else {
                $('input[name=description]').attr('placeholder', '哪儿花的');
                $('input[name=cost]').attr('placeholder', '花多钱');
                $('#costTypeSel').val('').find("option").each(function () {
                    var $this = $(this);
                    var type = $this.attr('type');
                    if (type === 'Expense') {
                        $this.removeClass("hidden").addClass("show");
                    } else if (type === 'Income') {
                        $this.removeClass("show").addClass("hidden");
                    }
                });
            }
            setCostType();
        });
        // 设置日期选择器
        $('.date').datepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd'
        }).on('hide', function () {
            $('#new-bill-form').data('bootstrapValidator')
                .revalidateField('date');
        }).on('changeDate', function () {
            $('.date').datepicker('hide');
        });
    });
    /*]]>*/
</script>
</body>
</html>
