<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<div class="container">
    <div style="height:60px;"></div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>当月收支情况</h4>
        </div>
        <div class="panel-body bill-statistic">
            <div class="pull-left col-xs-5">
                <h3>支出</h3>
                <h5 th:inline="text">
                    <span class="glyphicon glyphicon-yen"></span>
                    [[${#numbers.formatDecimal(billStatistic.Expense.total, 1, 'COMMA', 2, 'POINT')}]]
                </h5>
            </div>
            <div class="pull-left col-xs-5">
                <h3>收入</h3>
                <h5 th:inline="text">
                    <span class="glyphicon glyphicon-yen"></span>
                    [[${#numbers.formatDecimal(billStatistic.Income.total, 1, 'COMMA', 2, 'POINT')}]]
                </h5>
            </div>
        </div>
    </div>

    <form id="date-choose-form" method="get" th:action="@{/bill}"
          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <div class="row">
            <div class="form-group col-xs-7" style="padding-right: 0;">
                <label class="sr-only" for="date">日期</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <input type="text" class="form-control" id="date" name="date" value="2015-01"
                           th:value="${#dates.format(date, 'yyyy-MM')}"
                           data-bv-notempty="true"
                           data-bv-notempty-message="得选看哪个月的"/>
                </div>
            </div>
            <div class="form-group col-xs-5">
                <a class="btn btn-default pull-right" th:href="@{/bill/add}" style="margin-left:10px;">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <button type="submit" class="btn btn-default pull-right" >查询</button>
            </div>
        </div>
    </form>

    <ul id="bill-data-list" class="list-group">
        <li class="list-group-item"
            th:each="bill, billStat : ${bills}"
            th:classappend="${bill.type == T(loveinliuy.bill.model.Bill.Type).Expense ? 'list-group-item-warning' : 'list-group-item-success'}">
            <h4 class="list-group-item-heading" th:inline="text">
                [[${#dates.format(bill.date, 'yyyy-MM-dd')}]]
                <span style="margin-left: 10px;" data-toggle="modal" data-target="#confirm-delete"
                      th:attr="data-id=${bill.id}"
                      class="pull-right glyphicon glyphicon-trash"></span>
                <!--<span class="pull-right glyphicon glyphicon-pencil"></span>-->
            </h4>
            <h5 th:inline="text">
                [[${bill.type.toString()}]]
                <span style="margin-left: 2px;" class="glyphicon glyphicon-yen"></span>
                [[${#numbers.formatDecimal(bill.cost, 1, 'COMMA', 2, 'POINT')}]]
                <span th:unless="${#strings.isEmpty(bill.costType)}" style="margin-left: 10px;"
                      class="glyphicon glyphicon-tag"></span>
                [[${#strings.defaultString(bill.costType, '')}]]
            </h5>
            <p class="list-group-item-text" th:text="${bill.description}">描述</p>
        </li>
    </ul>

    <button type="button" class="loading btn btn-info btn-block">加载中</button>
    <button style="display:none;" type="button" class="last btn btn-info btn-block">已经是最后一页了</button>

    <div style="height: 100px"></div>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">删除确认</h4>
            </div>
            <div class="modal-body">
                <p>即将删除内容：</p>
                <p class="nr"></p>
                <p>确认删除么？删除后不可以恢复!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary confirm">确认</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: common-js"></div>
<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    $(function () {
        $('#date-choose-form').bootstrapValidator();
        $('.date').datepicker({
            language: 'zh-CN',
            format: 'yyyy-mm',
            minViewMode: 1,
            orientation: "bottom left"
        }).on('hide', function () {
            $('#date-choose-form').data('bootstrapValidator')
                .revalidateField($('#date'));
        }).on('changeDate', function () {
            $('.date').datepicker('hide');
        });

        (function () {
            var currentPage = /*[[${page+1}]]*/1;
            var date = $('#date').val();
            var isFetching = false;
            var isLast = false;
            var $loading = $('.loading');
            var l = Ladda.create($loading[0]);

            function fillZero(n) {
                if (n < 10) {
                    return '0' + n;
                } else {
                    return '' + n;
                }
            }

            function renderList(bill) {
                var items = [];
                var type = '';
                var typeStr = '';
                if (bill.type === 'Income') {
                    type = 'list-group-item-success';
                    typeStr = '收入';
                } else {
                    type = 'list-group-item-warning';
                    typeStr = '支出';
                }
                var date = new Date(bill.date);
                items.push('<li class="list-group-item ' + type + '">');
                items.push('<h4 class="list-group-item-heading">');
                items.push(date.getFullYear() + '-' + fillZero(date.getMonth() + 1) + '-' + fillZero(date.getDate()));
                items.push('<span style="margin-left: 10px;" class="pull-right glyphicon glyphicon-trash" data-toggle="modal" data-target="#confirm-delete" data-id="' + bill.id + '"></span>');
                // items.push('<span class="pull-right glyphicon glyphicon-pencil"></span>');
                items.push('</h4>');
                items.push('<h5>');
                items.push(typeStr);
                items.push('<span style="margin-left: 2px;" class="glyphicon glyphicon-yen"></span>');
                items.push(parseFloat(bill.cost).toFixed(2));
                if (bill.costType) {
                    items.push('<span style="margin-left: 10px;" class="glyphicon glyphicon-tag"></span>');
                    items.push(bill.costType);
                }
                items.push('</h5>');
                items.push('<p class="list-group-item-text">' + bill.description + '</p>');
                items.push('</li>');
                return items.join('');
            }

            function fetchNextPage() {
                if (isFetching || isLast) {
                    return;
                }
                isFetching = true;
                l.start();
                l.setProgress(0.3);
                $.ajax({
                        url: /*[[@{/bill/list}]]*/ '/bill/list',
                        data: {
                            date: date,
                            page: currentPage
                        },
                        success: function (result) {
                            l.setProgress(0.7);
                            var c = result.content;
                            var items = [];
                            for (var i = 0; i < c.length; i++) {
                                items.push(renderList(c[i]));
                                l.setProgress(0.7 + 0.02 * i);
                            }
                            $('#bill-data-list').append(items.join(''));
                            if (result.last) {
                                $('.last').show();
                                $loading.hide();
                                isLast = true;
                            }
                            currentPage++;
                            l.stop();
                            isFetching = false;
                        }
                    }
                );
            }

            $(window).scroll(function () {
                var scrollTop = $(this).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(this).height();
                // console.log(scrollTop+'+'+windowHeight+'+100 >= '+scrollHeight)
                if (scrollTop + windowHeight + 100 >= scrollHeight) {
                    fetchNextPage();
                }
            });
        })();

        $('#confirm-delete').on('show.bs.modal', function (event) {
            var $target = $(event.relatedTarget);
            var $li = $target.parent().parent();
            var date = $li.find('h4').text();
            var cost = $li.find('h5').html();
            var desc = $li.find('p').html();

            var $this = $(this);
            $this.find('.nr').html(date + '<br/>' + cost + '<br/>' + desc);

            $this.find('.confirm').unbind().bind('click', function () {
                var id = $target.attr('data-id');
                var url = /*[[@{/bill}]]*/ '/bill';
                var _csrf = $('input[name="_csrf"]').val();
                $.ajax({
                    type: 'DELETE',
                    headers: {
                        'X-CSRF-TOKEN': _csrf
                    },
                    url: url + '/' + id,
                    success: function (result) {
                        if (result) {
                            $li.remove();
                            $('#confirm-delete').modal('hide');
                        }
                    }
                });
            });
        });
    });
    /*]]>*/
</script>
</body>
</html>
