<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div class="container">
    <div style="height: 100px;"></div>
    <div class="jumbotron">
        <h1 th:text="|页面出错了, ${error}|">页面出错了</h1>
        <p>对不起，您请求的页面出错了，请联系管理员获取更多解决方案，或点击下面按钮<strong>回到首页</strong></p>
        <p><a class="btn btn-primary btn-lg" href="#" th:href="@{/}" role="button">回到首页</a></p>
    </div>
</div>

<div th:replace="fragments/footer :: common-js"></div>
</body>
</html>
