<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
</head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<div class="container">
    <div style="height: 60px;"></div>
    <!--/*@thymesVar id="curUser" type="loveinliuy.bill.model.User"*/-->
    <h1 th:text="'您好，'+${curUser.realName}">你好！</h1>
    <br/>
    <a class="btn btn-default" th:href="@{/bill/add}">新增账单</a>
    <div class="col-xs">
        <table class="table table-striped">
            <caption>最新添加的信息</caption>
            <thead>
            <tr>
                <th>#</th>
                <th>日期</th>
                <th>内容</th>
                <th>金额</th>
            </tr>
            </thead>
            <tbody th:each="bill,billStat : ${recentBills}">
            <tr>
                <th scope="row" th:text="${billStat.index + 1}">1</th>
                <td th:text="${#dates.format(bill.date, 'yyyy-MM-dd')}">2015-01-01</td>
                <td th:text="${bill.description}">账单内容1</td>
                <td th:text="${#numbers.formatDecimal(bill.cost, 1, 'COMMA', 2, 'POINT')}">10.1</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div th:replace="fragments/footer :: common-js"></div>
</body>
</html>