<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div class="container" th:if="${param.message != null and param.type!=null}" th:switch="${param.type[0]}">
    <div style="height: 100px;"></div>
    <div th:case="'success'" class="alert alert-success" role="alert">
        <strong>恭喜：</strong>
        <p th:text="${param.message[0]}"></p>
    </div>
    <div th:case="'info'" class="alert alert-info" role="alert">
        <strong>提示：</strong>
        <p th:text="${param.message[0]}"></p>
    </div>
    <div th:case="'warn'" class="alert alert-warning" role="alert">
        <strong>警告：</strong>
        <p th:text="${param.message[0]}"></p>
    </div>
    <div th:case="'danger'" class="alert alert-danger" role="alert">
        <strong>特别注意：</strong>
        <p th:text="${param.message[0]}"></p>
    </div>
    <div th:case="*" class="alert" role="alert">
        <strong>消息：</strong>
        <p th:text="${param.message[0]}"></p>
    </div>
    <p>
        <a id="back-index" class="btn btn-primary pull-right" href="#" th:href="@{/}" role="button">
            回到首页<span class="badge">2</span>
        </a>
    </p>
</div>

<div th:replace="fragments/footer :: common-js"></div>
<script type="text/javascript">
    /*<![CDATA[*/
    $(function () {
        var time = 2;
        var i = 1;
        setInterval(function () {
            $('#back-index').find('.badge').text(time - i);
            i++;
        }, 1000);
        setTimeout(function () {
            window.location.href = $('#back-index').attr('href');
        }, time * 1000);
    });
    /*]]>*/
</script>
</body>
</html>
